body {
    font-size: 0.875rem;
}

.navbar-brand {
    font-weight: bold;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.card {
    border-radius: 0.5rem;
}

.table th,
.table td {
    vertical-align: middle;
}

.table .text-end {
    text-align: end;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Garantir que os "botões" Visualizar, Editar e Excluir fiquem alinhados */
.table .text-end .btn {
    white-space: nowrap; /* Evita quebra de texto nos botões */
}

.table .text-end .d-flex {
    gap: 0.5rem; /* Espaço entre os botões */
}

@media (max-width: 768px) {
    /* Reduz o tamanho dos botões em telas menores */
    .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.75rem;
    }
    .table .text-end .d-flex {
        gap: 0.25rem; /* Espaço menor entre botões em telas pequenas */
    }
}

/* Ajustando a descricao */
.form-control-static {
    width: 100%; /* Garante que ocupa toda a largura disponível */
    padding-right: 1rem; /* Espaçamento elegante à direita */
    word-wrap: break-word; /* Evita estouro de texto */
    border: 1px solid #ddd; /* Opcional: adiciona um contorno elegante */
    border-radius: 4px; /* Opcional: bordas arredondadas */
    background-color: #f8f9fa; /* Opcional: fundo claro para destacar */
    padding: 0.5rem; /* Opcional: espaçamento interno */
}
