{% extends "base.html" %}

{% block page_title %}Página Inicial - IFS Monitor{% endblock %}

{% load static %} 

{% block content %}
  <div class="container mt-5">
    <div class="row text-center mb-5">
      <div class="col-md-12">
        <h1 class="display-4 text-success">Bem-vindo ao IFS Monitor!</h1>
        <p class="lead text-muted">O sistema inteligente para monitoramento de sensores em tempo real.</p>
      </div>
    </div>

    <div class="row text-center mb-5">
      <div class="col-md-12">
        <img src="{% static 'imagens/logo.png' %}" alt="Logo IFS Monitor" class="img-fluid" style="max-width: 200px;">
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h3 class="text-primary">Por que escolher o IFS Monitor?</h3>
        <p class="text-muted">Nosso sistema foi projetado para ser simples, eficiente e altamente confiável. A tecnologia por trás do IFS Monitor garante que você sempre tenha as informações necessárias para tomar decisões rápidas e precisas.</p>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4">
        <div class="card card-custom" style="background-image: url('{% static 'imagens/imagem4.jpg' %}')">
          <div class="card-title">Acessibilidade e Controle</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-custom" style="background-image: url('{% static 'imagens/imagem3.jpg' %}')">
          <div class="card-title">Monitoramento de Sensores</div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-custom" style="background-image: url('{% static 'imagens/imagem1.jpg' %}')">
          <div class="card-title">Relatórios Inteligentes</div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 text-center">
        <h4 class="text-dark">Explore as funcionalidades completas do sistema!</h4>
        <p class="lead text-muted">Caso precise de mais informações ou queira explorar todas as funcionalidades do IFS Monitor, explore nosso sistema e descubra como ele pode otimizar seus ambientes.</p>
      </div>
    </div>

  </div>
{% endblock %}
