{% extends "base.html" %}

{% block page_title %}Adicionar/Editar Sensor Lógico{% endblock page_title %}

{% block content %}
  <div class="container">
    <h1 class="h2">{{ view_title }}</h1>

    <form method="post" novalidate>
      {% csrf_token %}
      
      <!-- Renderiza o formulário -->
      <div class="form-group">
        {{ form.as_p }} <!-- Exibe os campos do formulário automaticamente -->
      </div>

      <div class="d-flex justify-content-end gap-2">
        <div class="d-flex justify-content-center mt-4 gap-3">
          <button type="submit" class="btn btn-success">Salvar</button>
          <a href="{% url 'sensor_logico_list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
