{% extends "base.html" %}

{% block page_title %}Lista de Parâmetros{% endblock page_title %}

{% block content %}
  <div class="table-responsive">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Parâmetros</h1>
      <div>
        <a href="{% url 'parametro_create' %}" class="btn btn-primary">
          <i class="fas fa-plus-circle"></i> Adicionar Parâmetro
        </a>
      </div>
    </div>

    {% if parametros %}
      <table class="table table-striped">
        <thead class="table-light">
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Descrição</th>
            <th scope="col" class="text-end">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for parametro in parametros %}
            <tr>
              <td>{{ parametro.nome }}</td>
              <td>{{ parametro.valor }}</td>
              <td>{{ parametro.descricao }}</td>
              <td class="text-end">
                <div class="d-flex justify-content-end gap-2">
                  <a href="{% url 'parametro_detail' pk=parametro.pk %}" class="btn btn-sm btn-info">
                    <i class="fas fa-eye"></i> Visualizar
                  </a>
                  <a href="{% url 'parametro_update' pk=parametro.pk %}" class="btn btn-sm btn-warning">
                    <i class="fas fa-edit"></i> Editar
                  </a>
                  <a href="{% url 'parametro_delete' pk=parametro.pk %}" class="btn btn-sm btn-danger">
                    <i class="fas fa-trash-alt"></i> Excluir
                  </a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Não há parâmetros cadastrados.</p>
    {% endif %}
  </div>
{% endblock %}
