{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}
  <h1 class="h2">{{ parametro.pk|yesno:"Atualizar Parâmetro,Cadastrar Parâmetro" }}</h1>
{% endblock page_title %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{ parametro.pk|yesno:"Atualizar Parâmetro,Cadastrar Parâmetro" }}</h1>
  </div>
  
  <form method="POST">
    {% csrf_token %}
    {{ form | crispy }}

    <!-- Botões centralizados na parte inferior -->
    <div class="d-flex justify-content-center mt-4 gap-3">
      <button type="submit" class="btn btn-success">Salvar</button>
      <a href="{% url 'parametro_list' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
{% endblock content %}
