{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block page_title %}
  {% if parametro.pk %}
    Editar Parâmetro
  {% else %}
    Novo Parâmetro
  {% endif %}
{% endblock page_title %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if parametro.pk %}
      <h1 class="h2">Atualizar Parâmetro</h1>
    {% else %}
      <h1 class="h2">Cadastrar Parâmetro</h1>
    {% endif %}
  </div>
  <form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'parametro_list' %}" class="btn btn-danger">Cancelar</a>
  </form>
{% endblock content %}
