{% extends 'base_generic.html' %}

{% block content %}
  <h1>Lista de Leituras de Temperatura</h1>
  
  <p><a href="{% url 'leitura_temperatura_create' %}">Criar Nova Leitura de Temperatura</a></p>

  <table>
    <thead>
      <tr>
        <th>Sensor</th>
        <th>Temperatura</th>
        <th>Data de Leitura</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for leitura in object_list %}
        <tr>
          <td>{{ leitura.sensor.nome }}</td>
          <td>{{ leitura.temperatura }}</td>
          <td>{{ leitura.data_leitura }}</td>
          <td>
            <a href="{% url 'leitura_temperatura_detail' leitura.pk %}">Ver Detalhes</a>
            <!-- Aqui você pode adicionar links para editar ou deletar -->
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
