{% extends 'base.html' %}

{% block content %}
  <h1>Lista de Leituras</h1>
  <a href="{% url 'leitura_add' %}">Adicionar Nova Leitura</a>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for leitura in leituras %}
        <tr>
          <td>{{ leitura.id }}</td>
          <td>{{ leitura.valor }}</td>
          <td>{{ leitura.data }}</td>
          <td>
            <a href="{% url 'leitura_edit' leitura.id %}">Editar</a>
            <a href="{% url 'leitura_delete' leitura.id %}">Excluir</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
