{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block page_title %}
  {% if sensor_fisico.pk %}
    Editar Sensor Físico
  {% else %}
    Novo Sensor Físico
  {% endif %}
{% endblock page_title %}

{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% if sensor_fisico.pk %}
      <h1 class="h2">Atualizar Sensor Físico</h1>
    {% else %}
      <h1 class="h2">Cadastrar Sensor Físico</h1>
    {% endif %}
  </div>

  <!-- Formulário de Cadastro e Edição -->
  <form method="POST">
    {% csrf_token %}
    {{ form |crispy }}
    
    <!-- Botões -->
    <div class="d-flex justify-content-center gap-3 mt-4">
      <button type="submit" class="btn btn-success btn-lg d-flex align-items-center justify-content-center">
        <i class="fas fa-save me-2"></i> Salvar
      </button>
      <a href="{% url 'sensor_fisico_list' %}" class="btn btn-outline-secondary btn-lg d-flex align-items-center justify-content-center">
        <i class="fas fa-times-circle me-2"></i> Cancelar
      </a>
    </div>
  </form>
{% endblock content %}
