{% extends 'base.html' %}

{% block content %}
<h2>Leituras de Sensores</h2>

<!-- Botão para criar uma nova leitura de sensor -->
<a href="{% url 'criar_leitura_sensor' pk=sensor.pk %}" class="btn btn-primary">Adicionar Leitura</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Sensor Lógico</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for leitura in leituras %}
        <tr>
            <td>{{ leitura.id }}</td>
            <td>{{ leitura.sensor_logico }}</td>
            <td>{{ leitura.valor }}</td>
            <td>{{ leitura.data }}</td>
            <td>
                <!-- Link para editar a leitura -->
                <a href="{% url 'editar_leitura_sensor' leitura.pk %}" class="btn btn-warning">Editar</a>
                <!-- Link para excluir a leitura -->
                <a href="{% url 'deletar_leitura_sensor' leitura.pk %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhuma leitura encontrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
