{% extends "base.html" %}

{% block page_title %}Formulário de Pavimento{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% if pavimento %}Editar Pavimento{% else %}Novo Pavimento{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{ pavimento.nome }}" required>
            </div>
           
            <div class="d-flex justify-content-center mt-4 gap-3">
                <button type="submit" class="btn btn-success">Salvar</button>
                <a href="{% url 'pavimento_list' %}" class="btn btn-secondary">Cancelar</a>
              </div>
        </form>
    </div>
{% endblock %}
