{% extends "base.html" %}


{% block page_title %}Exclusão Tipo Sensor{% endblock page_title %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Excluir Tipo de Sensor</strong></h1>
  </div>
  <div class="alert alert-danger" role="alert">
    Tem certeza de que deseja excluir o sensor <strong>{{tipo_sensor.tipo}}</strong>?
  </div>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="{% url "tipo_sensor_list" %}" class="btn btn-primary">Cancelar</a>
  </form>
{% endblock content %}