{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block page_title %}Detalhar Tipo Sensor{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Visualização de Tipo de Sensor</h1>
    </div>

    <form>
        <div class="row">
            <div class="form-control-static w-100 me-3">
                <div class="mb-3">
                    <label class="form-label"><strong>Descrição:</strong></label>
                    <p class="form-control-static">{{ tipo_sensor.descricao }}</p>
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Limite Inferior Permitido:</strong></label>
                    <p class="form-control-static">{{ tipo_sensor.limite_inferior_permitido }}</p>
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Limite Superior Permitido:</strong></label>
                    <p class="form-control-static">{{ tipo_sensor.limite_superior_permitido }}</p>
                </div>

                <div class="mb-3">
                    <label class="form-label"><strong>Unidade:</strong></label>
                    <p class="form-control-static">{{ tipo_sensor.unidade }}</p>
                </div>
            </div>
        </div>
    </form>

    <a href="{% url 'tipo_sensor_list' %}" class="btn btn-primary">Voltar</a>

{% endblock %}
